# ==========================================
# BACKEND (NestJS & Prisma)
# ==========================================
DATABASE_URL="postgresql://jesmond_app:<PASSWORD>@localhost:5432/jesmond?schema=public"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""
CORS_ORIGIN="http://localhost:3000"
JWT_SECRET=""

# ==========================================
# STORAGE (Cloudflare R2)
# ==========================================
S3_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
R2_ACCOUNT_ID=""
R2_PUBLIC_URL=""

# ==========================================
# FRONTEND (Next.js)
# ==========================================
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_R2_PUBLIC_URL=""
