# ==========================================
# BACKEND (NestJS & Prisma)
# ==========================================
DATABASE_URL="postgresql://jesmond_app:<PASSWORD>@localhost:5432/jesmond?schema=public"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""
CORS_ORIGIN="http://localhost:3000"

# ==========================================
# FRONTEND (Next.js)
# ==========================================
NEXT_PUBLIC_API_URL="http://localhost:3001"
